/* Main header styling */
header {
  height: 70vh;
  /* padding-top: 7rem; */
  overflow: hidden;
  padding-left: 7rem;
  margin-bottom: 5rem;

}

/* Container to center and align content */
.header__container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  padding: 2rem;
  gap: 2rem;
}

/* Text section */
.intro {
  flex: 1;
  min-width: 50%;
  max-width: 600px;
  text-align: left;
}

/* Larger text for the header */
.intro h1 {
  font-size: 2.5rem;
}

/* Paragraph in the text section */
.intro p {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
}

/* Image section */
.introImg {
  flex: 1;
  max-width: 500px;
  min-width: 40%;
  display: flex;
  justify-content: center;
}

/* Image styling */
.introImg img {
  max-width:100%;
  height: auto;
  border-radius: 10px;
}

/* Floating animation */
.introImg {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/* Rotating text styling */
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* CTA section styling */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
}

/* Social media icons section */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: relative;
  left: 30rem;
  bottom: 4rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* Media query for tablets */
@media screen and (max-width: 1024px) {
  header {
    height: 60vh;
  }
  
  .header__socials {
    left: 20rem;
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: column; /* Stack text and image vertically */
    text-align: center;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .introImg img {
    max-width: 100%;
  }

  .cta {
    flex-direction: column;
    gap: 1rem;
  }

  .header__socials {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .intro h1 {
    font-size: 1.5rem;
  }

  .intro p {
    font-size: 1rem;
  }

  .introImg img {
    max-width: 100%;
  }
}
